# torch>=1.1
# torchvision>=0.3
numpy
# opencv-python
tqdm>=4.36.0
matplotlib
plotly
scipy
h5py
pycolmap>=0.6.0
kornia>=0.6.11
gdown
# lightglue flash-attn needs torch>=2.0, torchvision>=0.15.1
# 或者 为lightglue手动安装flash-attn=0.2.4
# lightglue @ git+https://github.com/cvg/LightGlue
